 <div class="user-details">
  <h1> Who am I? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>For my User-Interfaces I work in HTML and CSS, using slightly edited Bootstrap themes.</p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <p>I'm most comfortable coding in Java, but I'm also working in Python and C++ for my studies and C# for my game development projects in Unity.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <p>I use Github for my version control integrated into Intellij as my IDE of choice. I also enjoy Trello to keep track of my work as I go along.</p>
    </div>
</div>
