 <div class="user-details">
  <h1> Who am I? </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Front-End</h2>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <p>I've recently picked up Angular with Material Design and I'm busy spending some time learning TypeScript.</p>
  </div>
  <div class="tech">
    <h2>Back-End</h2>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-tomcat-line colored"></i>
    <i class="devicon-mysql-plain colored"></i>
    <p>I'm most comfortable working in Java, running Apache Tomcat server-wise and I enjoy using Mariadb for my database needs.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-docker-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <p>I use Github for version control and Visual Studio Code as my editor of choice. I've also recently started learning to dockerize my services.</p>
  </div>
</div>
