 <div class="user-details">
  <h1> Who am I? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <p>For my User-Interfaces I work in HTML and CSS, using slightly edited Bootstrap themes.</p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-tomcat-line colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <p>I'm most comfortable coding in Java,</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>I use Github for my version control integrated into Intellij as my IDE of choice. I also enjoy Trello to keep track of my work as I go along.</p>
    </div>
</div>
