<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="loginscreen" src="{{ "/assets/img/samantha_login.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Samantha: A Quality of Life Home Assistant</h3>
    <ul>
      <li>Currently in Development</li>
      <li>Angular, Typescript, HTLM and CSS</li>
      <li>npm, node.js and material.io</li>
    </ul>
    <p>Team Project to learn Angular and build a web application to help with real life problems.</p>
    <a class="project-link" href="https://github.com/EpicTeamOfAwesome/samantha-web-angular">Github Link</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="personal website" src="{{ "/assets/img/website_Front.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> My Personal Website </h3>
    <ul>
      <li> HTML, SASS and Javascript</li>
      <li> Jenkyll and Github Pages</li>
    </ul>
    <p>Hosted through Github Pages, this theme is built using Jenkyll.</p>
    <a class="project-link" href="https://github.com/Willem-Merwe/Willem-Merwe.github.io">Github Link</a>
  </div>
</div>