<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="loginscreen" src="{{ "/assets/img/samantha_login.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Samantha: Home Automation System</h3>
    <ul>
      <li>Angular, Typescript, HTLM, CSS</li>
      <li>npm, node.js, material.io</li>
    </ul>
    <p>Team Project to learn Angular and build an web application to help with real life problems</p>
    <a class="project-link" href="https://github.com/EpicTeamOfAwesome/samantha-web-angular">Github Link</a>
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> My Personal Website </h3>
    <ul>
      <li> HTML, CSS, JQuery</li>
      <li> Jenkyll and Github Pages</li>
    </ul>
    <p>Hosted through Github Pages, this theme is built using Jenkyll.</p>
    <a class="project-link" href="https://github.com/Willem-Merwe/Willem-Merwe.github.io">Check it out</a>
  </div>
</div>